/* Add your styles here */

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #b5b4c2;
  --darkgray: #b5b4c217;
  --violetred: #a2106d;
  --orange: #ffa500;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Georgia", sans-serif;
  font-size: 1.4em;
  color: var(--black);
  background-color: var(--gray);
  line-height: 2;
}

p {
  text-align: center;
  font-size: 1.2em;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  color: var(--black);
}

h2 {
  margin-left: 20%;
  font-size: 2.2em;
}

/*Navigation bar*/
.navbar {
  background-color: var(--gray);
  border: 6px solid var(--black);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  max-width: 900px;
  margin: 0px auto;
  z-index: 1000;
  flex-wrap: wrap;
}

.item {
  color: var(--black);
  font-size: 1.3em;
  text-align: center;
  padding: 20px 25px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 50px;
}

.item:hover {
  background-color: var(--orange);
  transform: scale(0.9);
}

/*About me section*/
#about-me {
  display: flex;
  align-items: left;
  gap: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.selfie {
  flex-shrink: 0;
  border-radius: 80px;
  float: left;
  margin-top: 0px;
  padding: 50px;
  display: grid;
}

/*Work experience section*/
.work-experience-boxes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: start;
}

.work-box {
  border: 3px solid var(--black);
  padding: 15px;
  border-radius: 8px;
  position: relative;
  z-index: 1000;
  background-color: white;

  width: 90%;
  margin: 0 auto;
}
.work-box h3 {
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 1.3em;
}

.work-box h4 {
  margin-top: 0;
}

.work-box h5 {
  margin-top: -30px;
  margin-right: 20%;
  color: #00000098;
}

.work-box ul {
  margin-top: -30px;
}

/* Contact Me Section*/
.contact-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.contact-box {
  font-family: "Georgia", sans-serif;
  font-size: 1.2em;
  color: var(--black);
  background-color: var(--gray);
  line-height: 2;
  padding: 0px;
  border-radius: 10px;
  margin-left: 25%;
}

/*Contact Form Section*/
.form-container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-left: 25%;
}

.signup-form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.form-group label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  font-size: 1.4em;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.form-group textarea {
  height: 140px;
  border-radius: 50px;
  resize: vertical;
}

.form-group input:focus {
  border: 3px solid var(--orange);
}

.form-group textarea:focus {
  border: 3px solid var(--orange);
}

/* Submit button */
.submit-button {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
  padding: 15px 30px;
  font-size: 1.4em;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.reset-button {
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
  padding: 15px 30px;
  font-size: 1.4em;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--orange);
}

.reset-button:hover {
  background-color: #bb0c0c;
  color: var(--white);
}
